.card {
  border: 1px solid black;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.15s ease-in-out;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}
